--standalone
--onefile
--output-filename=ft1-backend.exe
--windows-console-mode=disable
--enable-plugin=numpy
--include-package=fastapi
--include-package=uvicorn
--include-package=backend
--include-package=sqlalchemy
--include-package=pydantic
--include-package=statsmodels
--include-package=pymssql
--include-package=apscheduler
--include-package=access_parser
--include-package=pydantic_settings
--include-package=python_multipart
--include-package=websockets
--include-package=yaml
--include-package=pyodbc
--include-data-dir=../data=data
--nofollow-import-to=tkinter
--nofollow-import-to=matplotlib
--nofollow-import-to=PIL
--nofollow-import-to=pytest
--nofollow-import-to=unittest
run.py
