--standalone
--onefile
--output-filename=ft1-backend.exe
--windows-console-mode=disable
--include-package=fastapi
--include-package=uvicorn
--include-package=backend
--include-package=sqlalchemy
--include-package=pydantic
--include-package=statsmodels
--include-package=pymssql
--include-package=apscheduler
--include-package=access_parser
--include-package=pydantic_settings
--include-package=python_multipart
--include-package=websockets
--include-package=yaml
--include-package=pyodbc
--include-package=sklearn
--include-package=pandas
--include-package=starlette
--include-package=scipy._external
--include-module=ctypes
--include-data-dir=../data=data
--nofollow-import-to=scipy.io
--nofollow-import-to=scipy.cluster
--nofollow-import-to=numpy.tests
--nofollow-import-to=pandas.conftest
--nofollow-import-to=sklearn.tests
--nofollow-import-to=pandas.tests
run.py
